.App {  
  height: 100%;
  align-items: center;
}
.App h1 {
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  align-items: center;
}
.controls {
  width: 40vw;
}
.controls label {
  font-size: 20px;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-content input[type=text] {
  width: 50px;
}
.output {
  width: 30vw;
  height: 50vh;
  background: chocolate;
  color: #fff;
  padding: 20vh 2vw;
}
.output p {
  margin: 0;
  height: auto;
}
.color-pallet {
  margin: 20px 0 0 10px;
}
.switch {
  margin-top: 20px;
}